# Neon Serverless PostgreSQL Database Connection
DATABASE_URL="postgresql://username:password@ep-sample-123456.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://username:password@ep-sample-123456.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# System Security Secrets
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="your_admin_password"
VIEWER_USERNAME="viewer"
VIEWER_PASSWORD="your_viewer_password"

# Optional AI Analyst API Keys
GEMINI_API_KEY=""
OPENAI_API_KEY=""
GROK_API_KEY=""

# JWT Session Secret
SESSION_SECRET="your_secure_random_jwt_secret_key_min_32_characters"
